* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

.nav-category{
    font-family: "Poppins", sans-serif;
}